body { 
    text-align:center;
    margin:0;
}

.app {
    min-height: 100vh;
    background-image: url('https://user-images.githubusercontent.com/47403119/66286891-a30d4000-e890-11e9-8f83-f74b10611fe9.jpg');
    background-size: cover;
}

.hide {
    opacity:0;
    visibility:hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.show {
    opacity: 1;
    visibility:visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.blank {
    min-height: 100vh;
}

svg {
    width: 30px;
}

.square {
    width: 20px;
    height:20px;
    border:1px solid black;
}

.home-container {
    height: 100%;
    display:flex; 
    flex-direction: column;
    justify-content: space-between;
}

.socials { 
    margin-top: 60px;
}

.socials a {
    display:inline-block;
    padding: 20px;
    cursor:pointer;
    margin: 10px 30px 10px;
    background-color: rgba(0,0,0,0.2);
}

.socials a:hover {
    background-color: white;
    /* background-color: rgba(0,0,0,0.7); */
}

.socials svg {
    width: 40px;
}


.main-content {
    border: 3px solid rgb(51,51,51);
    width: 700px;
    height: 60vh;
    border-radius: 5px;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
}

#home-icon  {
    position:absolute;
    top: 17px;
    right: 20px;
    fill:yellow;
    width: 20px;
}
#github {
    fill: #6e5494;;
}
#twitter {
    fill:#65BBF2;
}
#linkedin {
    fill:#0077B7;
}
#medium-1 {
    fill:#00FD8D;
}
#medium-2 {    
    fill:#00E470;
}
#medium-3 {    
    fill:#00C967;
}
#medium-4 {  
    fill:#00AD6C;
}
.react {
    fill: rgb(86,213,250);
    width: 40px;
    margin: 10px;
}
#ruby {
    width: 40px;
    margin: 10px;
}
#mail-icon {
    cursor: pointer;
    fill: black;
}
#mail-icon:hover {
    fill: yellow;
}

.bio {
    margin-bottom: 40px;
    color:white;
    font-size: 15px;
    font-family: 'Courier', sans-serif;
    width: 60%;
    border-radius: 5px;
    margin:auto;
    padding: 20px;
    background-color: rgba(0,0,0,0.2);
}

.bio small {
    background-color: rgba(255,255,255,0.1);
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}

.bio small:hover {
    background-color: rgba(255,255,255,0.3);
}

.message-box {
    color:white;
    background-color: rgba(0,0,0,0.2);
    width: 80%;
    font-family: 'Courier', sans-serif;
    padding: 2rem;
    margin:auto;
}

.contact-card-detail {
    position:absolute;
    top: 60px;
    left: 10px;
    padding: 10px;
    background-color: rgba(145,145,145,1);
    border-radius: 10px;
    cursor: pointer;
    font-family: Courier, monospace;
}

.contact-card-icon {
    position:absolute;
    top: 60px;
    left: 10px;
}

/* Home: <div>Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div> */
/* Lightbulb: <div>Icons made by <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div> */
/* quill: <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div> */
/* Puzzle: <div>Icons made by <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div> */
/* Astro:  <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div> */
/* LinkedIN: <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div> */
/* Twitter: <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div> */
/* MEdium: <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div> */
/* Heroku: <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div> */
/* Mail: <div>Icons made by <a href="https://www.flaticon.com/authors/chanut" title="Chanut">Chanut</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div> */
/* l arrow: <div>Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div> */
/* r arrow:  <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div> */