header {
    background-color: black;
    padding: 17px;
    text-align: center;
    font-family: "Courier", sans-serif;
    margin-bottom:70px;
    box-shadow: 2px 5px 10px grey;
}

header a {
    color: yellow;
}