.projects-container {
    padding-top: 26px;
    height: calc(60vh - 30px);
    overflow:scroll;
}

.projects-container > p {
    margin-top: 6px;
    font-style: italic;
    color:white;
}

.project-card {
    color:black;
    width: 80%;
    margin: auto;
    margin-top:20px;
    padding: 10px;
    text-align: left;
    background-color: rgba(255,255,255,0.6);
    font-family: 'Georgia', serif;
    cursor:pointer;
    transition: all 0.5s ease-in-out; 
    border-radius: 3px;
}

.project-card:hover {
    background-color: rgba(255,255,255,0.8);
    transform:scale(1.05);
}

.projects-container span {
    display:inline-block;
    color:rgb(51,51,51);
    font-style:italic;
    margin-left: 10px;
    font-size: 0.8rem;
}

.projects-container > a {
    color:black;
    position: absolute;
}

.article img {
    padding: 5px 0px 5px;
    width: 40px;
    border-radius: 5px;
    display: inline-block;
    background-color:rgba(0,0,0,0.3);
    margin:20px;
}

.project-name {
    margin: 0;
    font-size:1rem;
}

.project-name a {
    color:rgb(73,73,73);
    font-weight: bold;
}

.project-description {
    margin:0;
    font-size: 0.8rem;
}

.project-pointer {
    color: purple;
}